<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgw.basic.system.role.dao.SysEnRoleMapper">

	<resultMap id="defaultResultSysEnRoleMap" type="com.tgw.basic.system.role.model.SysEnRole">
    	<id column="id" property="id"/>
		<result column="fk_parent_id" property="fkParentId"/>
  	</resultMap>

	<select id="searchData" parameterType="com.tgw.basic.system.role.model.SysEnRole" resultType="map">
		<bind name="roleCodeCon" value="'%' + _parameter.getRoleCode() + '%'" />
		<bind name="rolenameCon" value="'%' + _parameter.getRoleName() + '%'" />

		select role.id,
			p_p_role.role_name pp_fkParentId,
		    p_role.role_name fkParentId,
			role.role_code roleCode,
			role.role_name roleName,role.remark,
			role.role_status roleStatus,
			role.order_num orderNum,
			date_format(role.add_time, '%Y-%m-%d %H:%i:%s') addTime,
			date_format(role.update_time, '%Y-%m-%d %H:%i:%s') updateTime
		from sys_en_role role
		left join sys_en_role p_role on p_role.id = role.fk_parent_id
		left join sys_en_role p_p_role on p_p_role.id = p_role.fk_parent_id
		left join sys_en_role p_p_p_role on p_p_p_role.id = p_p_role.fk_parent_id
		<where>
			<if test="fkParentId!=null">
				and role.fk_parent_id = #{fkParentId}
			</if>
			<if test="roleCode!=null and roleCode!=''">
				and role.role_code like #{roleCodeCon}
			</if>
			<if test="roleName!=null and roleName!=''">
				and role.role_name like #{rolenameCon}
			</if>
			<if test="roleStatus!=null and roleStatus!=''">
				and role.role_status = #{roleStatus}
			</if>

		</where>
		order by concat_ws('',LPAD(p_p_p_role.order_num,8,'0'),LPAD(p_p_role.order_num,8,'0')
							,LPAD(p_role.order_num,8,'0'),LPAD(role.order_num,8,'0'))  asc
	</select>

	<select id="queryRoleTreeMap"  resultType="map">
		select role.id,role.role_name,role.fk_parent_id
		from sys_en_role role
		left join sys_en_role role_p on role.fk_parent_id = role_p.id
		order by role_p.order_num, role.order_num
	</select>

	<select id="queryMenuTreeMap"  resultType="map">
		SELECT menu.id,menu.text,menu.fk_parent_id
		from sys_en_menu menu
		left join sys_en_menu menu_p on menu.fk_parent_id = menu_p.id
		order by menu_p.order_num,menu.order_num;
	</select>

	<select id="queryFunctionTreeMap"  resultType="map">
		select fun.id,fun.func_name,fun.fk_parent_id
		from sys_en_function fun
		left join sys_en_function fun_p on fun.fk_parent_id = fun_p.id
		order by fun_p.order_num ,fun.order_num
	</select>
</mapper>
