@CHARSET "UTF-8";
.top_ele{
    width: 100%;
    height: 100px;
    /*background-color: #00a0e9;*/
}

#bgcc {
    width: 100%;
    height: 525px;
}

#content {
    position: absolute;
    left: 550px;
    top: 180px;
    width: 582px;
    height: 296px;
    background-image: url('../../../../img/platform/manage/login/bg1.png');
}

.inputcss-tip {
    position: absolute;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 0px solid #ffffff;
    color: red;
    font-size: 12px;
    left: 335px;
    top: 110px;
    top: 115px\9;
}

.inputcss-userName {
    position: absolute;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 0px solid #ffffff;
    font-size: 15px;
    left: 335px;
    top: 131px;
    top: 136px\9;
}

.inputcss-password {
    position: absolute;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 0px solid #ffffff;
    font-size: 15px;
    left: 335px;
    top: 169px;
    top: 172px\9;
}

.save {
    position: absolute;
    left: 335px;
    top: 213px;
}

.reset {
    position: absolute;
    left: 410px;
    top: 213px;
}

.bottom_ele{
    width: 100%;
    height: 100px;
    /*background-color: #00b7ee;*/
    text-align: center;
    line-height: 100px;
}

a:link{
    color:black;
    text-decoration:none;
}

a:hover{
    color:purple;
    text-decoration:none;
}

a:visited{
    color:black;
    text-decoration:none;
}